.dialogsPage {
    // background: rgb(238, 229, 229);
    height: 500px;
    overflow: scroll;
}

.chat {
    display: flex; 
    width: 50%;
    // border: 1px solid red;
}

.dialogsArray {
    margin-right: 80px;
}
.messagesArray {
}