.appCenter {
  display: flex;
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
  background: rgb(128, 209, 95);
}

.appAsideLeft {
  max-width: 20%;
  width: 100%;
  background: rgb(95, 207, 202);
}

.appContent {
  max-width: 80%;
  width: 100%;
  background: rgb(250, 195, 112);
}